<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  Bonjour
  The world is your oyster.

  oui

  1 Page accueil
  1 Page introduction ( tuto )
  1 Page « flyer » au début de l’application après le tutoriel
  1 Page home avec un menu composé de 4 écrans
  1 Page « conseils »
  1 Page Mon profil
  1 Page Nutristats
  1 Page galerie vidéo
  1 Page paramètres
  1 Page contact
  1 Page cgu & données persos
  1 Page login
  1 Page Abonnement
  
  <p>If you get lost, the <a target="_blank" rel="noopener" href="https://ionicframework.com/docs/">docs</a> will be your guide.</p>
</ion-content>
