page-intro {
	ion-slide {
        background: none;
      }

    ion-slides {
        background-image: url(../assets/imgs/bkg-menu2.jpg) !important;
        background-position: center !important;
        background-size: cover !important;
    }

      ion-slide img {
        height: 70vh !important;
        width: auto !important;
      }

      .swiper-pagination-bullet-active {
        background: #fff;
        opacity: 1;
    }

    .text-slide {
      padding-bottom: 10px;
      font-size: 15px;
      font-weight: bold;
      color: #006eb7;
    }

  }
